NODE_ENV=development

APP_HOST=127.0.0.1
APP_PORT=3333
APP_KEY=ColoqueSeuAppKeyAquiSePrecisar

LOGGING_DIR=logs
LOGGING_LEVEL=debug

DB_CONNECTION=pg
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=cpt
DB_PASSWORD=cpt456
DB_NAME=app_db
DB_TEST_NAME=app_db_test
